// --------------------------
// VARIABLES
// --------------------------
$maincolor: rgb(39, 128, 139);
$contrastcolor: rgb(236, 230, 230);

@mixin gray-text-blue-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin blue-text-gray-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

nav {
  @include gray-text-blue-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include gray-text-blue-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}

// --------------------------
// FORM
// --------------------------

section,
div {
  form {
    input {
      @include gray-text-blue-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;

      &[type="submit"]:hover {
        @include blue-text-gray-bg;
      }
    }
  }
}

// --------------------------
// button
// --------------------------

button#delete {
  @include gray-text-blue-bg;
  //block vs inline (this makes it so the delete button takes up its own row)
  display: block;
  // if you want to center the content of a block (you use margin: auto)
  margin: auto;
  font-size: 1.3em;
  padding: 10px;
}

// --------------------------
// images
// --------------------------

// this makes all the images the same size
img {
  width: 300px;
  height: 300px;
  //this rounds the corners
  border-radius: 20px;
  //this makes it not stretched - just fits the object to square
  object-fit: cover;
}